.cell {
    display: inline-block;
    border: 1px solid black;
    width: 19px;
    height: 19px;
    margin-left: -1px;
    margin-bottom: -1px;

    &.off {
        background-color: lightgray;
    }

    &.on {
        background-color: red;
    }

    &:hover {
        background-color: blue;
    }
}

